@charset "UTF-8";
*, body, h1, h2, h3, h4, h5 {
  font-family: 'Microsoft JhengHei';
}

#app {
  padding: 80px 0;
  background-image: url(../img/bg3-1.jpg);
  background-size: cover;
  background-position: right bottom;
  /* 配色 */
  /* 選單 */
}

#app .btn-red {
  background-color: #ff6670;
  color: #fff;
}

#app .btn-yellow {
  background-color: #ffe26d;
}

#app .thead-pink {
  background-color: #fe878f;
  color: #fff;
}

@media (max-width: 992px) {
  #app .navbar {
    background-color: #ff6670;
    padding: 0;
  }
  #app .navbar #belusa-nav {
    background-color: #f6f6f6;
    padding: 0 15px;
  }
  #app .navbar .navbar-brand {
    color: #fff;
    margin: .5rem 1rem;
  }
  #app .navbar .navbar-toggler {
    background-color: #fcf3d7;
    margin: .5rem 1rem;
  }
  #app .navbar .nav-item .nav-link {
    color: #333;
  }
  #app .navbar .nav-footer {
    margin-bottom: 5px;
  }
}

#app .ordered {
  padding: 15px;
  max-height: 30vh;
  background-color: #fcf3d7;
  border-top: 5px solid #fe878f;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#app .ordered .area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app .hot-page .con:not(.hot) {
  display: none;
}

#app footer {
  position: absolute;
  top: 100%;
  opacity: 0;
  z-index: -1;
}

#app .list .mb-100 {
  margin-bottom: 100px;
}

#app .list .con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 2px solid #ddd;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  background-position: right bottom;
}

#app .list .con input[type="checkbox"] {
  width: 30px;
  height: 30px;
  background-color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
}

#app .list .con label {
  margin-bottom: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

#app .list .con .num-edit {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  text-align: right;
  color: #333;
}

#app .list .con .num-edit .btn-light {
  -webkit-box-shadow: 1px 1px 6px #aaa;
          box-shadow: 1px 1px 6px #aaa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app .list .con .num-edit .disable {
  color: #aaa;
}

#app .list .con .num-edit span {
  width: 45px;
  display: inline-block;
  width: 20px;
  text-align: center;
  color: #333;
}

#app .sauce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#app .sauce .sau-btn {
  padding: 5px 10px;
  border: 1px solid #999;
  border-radius: 3px;
  margin-right: 5px;
}

#app .sauce .sau-btn.select {
  border: 2px solid #ffe26d;
}

#app .sauce .sau-btn input {
  display: none;
}
/*# sourceMappingURL=all.css.map */