<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>貝稑莎點餐平台</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="css/all.css?20190217">
</head>
<body>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <a class="navbar-brand" href="#">
        貝稑莎 - 
        <small v-if="tempData.pages=='hot'">熱門餐點</small>
        <small v-else-if="tempData.pages=='all'">所有餐點</small>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#belusa-nav" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="belusa-nav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#" @click.prevent="changePage('hot')">熱門餐點</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" @click.prevent="changePage('all')">所有餐點</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://goo.gl/maps/tA9Y2De8X9n">店面位置</a>
          </li>
        </ul>
        <div class="nav-footer">
          <a href="https://www.facebook.com/%E8%B2%9D%E7%A8%91%E8%8E%8E%E9%B9%BD%E9%85%A5%E9%9B%9E-170776109780301/" class="btn btn-outline-info my-2 my-sm-0">
            <i class="fab fa-facebook-square"></i> 貝稑莎粉專
          </a>
          <a href="https://line.me/ti/p/KUQIYFYj8l" class="btn btn-outline-success my-2 my-sm-0">
            <i class="fab fa-line"></i> 貝稑莎 line
          </a>
        </div>
      </div>
    </nav>
    <div :class="{'list':true, 'hot-page':tempData.pages=='hot'}">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 mb-100">
            <div :class="{'con':true, 'hot':item.hot}"
              v-for="(item, key) in order" :key="key">
              <input type="checkbox" :value="item.name" v-model="item.ordered" :id="'list'+key">
              <label :for="'list'+key">
                {{ item.name }}
              </label>
              <div class="num-edit" v-if="item.ordered">
                <button class="btn btn-yellow btn-sm" :class="{'disabled': item.num==1}" >
                  <i class="fas fa-minus"  @click="minusPlus(key)"></i>
                </button>
                <span>{{ item.num }}</span>
                <button class="btn btn-yellow btn-sm">
                  <i class="fas fa-plus" @click="numPlus(key)"></i>
                </button>                
              </div>
              <div class="num-edit" v-else><b>{{ item.cash }} 元</b></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ordered">
      <div class="area">
        <button type="button" class="btn btn-red" data-toggle="modal" data-target="#order-list-modal">
          查看餐點
        </button>
        <b>總共 {{total}} 元</b>
      </div>
    </div>
    <div class="modal fade" id="order-list-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">已選餐點清單</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-striped table-sm" v-if="total">
              <thead class="thead-pink">
                <tr>
                  <th>餐點</th>
                  <th>數量</th>
                  <th>小計</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, key) in order" v-if="item.ordered">
                  <td>{{ item.name }}</td>
                  <td>{{ item.num }}</td>
                  <td>{{ item.num*item.cash }}元</td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="thead-pink">
                  <td colspan="3">請選擇配料</td>
                </tr>
                <tr>
                  <td colspan="3">
                    <div class="sauce">
                      <label v-for="(item, key) in sauce" :for="'sauce'+key" v-if="!tempData.nosauce" 
                        :key="key" :class="{'select':item.ordered,'sau-btn':true}">
                        <input type="checkbox" v-model="item.ordered" :id="'sauce'+key">
                        {{ item.name }}
                      </label>
                      <label for="n-sauce" class="n-sauce">
                        <input type="checkbox" id="n-sauce" v-model="tempData.nosauce">
                        不要任何配料
                      </label>
                    </div>
                  </td>
                </tr>
              </tfoot>     
            </table>
            <p v-else>尚未點餐</p>
            <p class="text-danger">總共 {{total}} 元</p>
            
          </div>
          <div class="modal-footer justify-content-between" v-if="total">
            <button type="button" class="btn btn-secondary" @click="reset">重新選取</button>
            <button type="button" class="btn btn-yellow" id="copy" 
              data-clipboard-target="#final-list" @click="sendMsg">
              複製並送出
            </button>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div id="final-list">
        <p v-for="(item, key) in order" v-if="item.ordered">
          {{ item.name }}　x　{{ item.num }} 份
        </p>
        <br>配料:
        <p class="sauce-exit" v-if="!tempData.nosauce">
          <span v-for="(item, key) in sauce" v-if="item.ordered">{{ item.name }}、</span>
        </p>
        <p v-if="tempData.nosauce">不要任何配料</p>
        <p>
          總計 {{total}} 元
        </p>
      </div>
    </footer>
  </div>
  <script src="js/clipboard.min.js"></script>
  <script src="js/jquery-2.0.0.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/data.js?20190222"></script>
  <script>
    new Clipboard( "#copy" )
  </script>
</body>
</html>